@import '../../utils/colors.scss';

.input-box{
    display: flex;
    gap: 12px;
    border-radius: 5px;
    border: 1px solid #EBF0FF;
    padding: 14px 18px;
    cursor: text;
    &.error{
        border: 1px solid $secondary;
        svg{
            fill: $secondary;
        }
        input{
            color: $secondary;
            &::placeholder{
                color: $secondary;
            }
        }
    }
    svg{
        fill: $text-light;
    }
    input{
        font-size: 16px;
        color: $text-light;
        border: 0;
        outline: none;
        width: 100%;
        &::placeholder{
            color: $text-light;
        }
    }
}