@import '../../utils/colors.scss';
.header{
    &-upper{
        border-bottom: 1px solid $border;
        &-selections{
            display: flex;
            gap: 13px;
        }
        &-control{
            display: flex;
            gap: 32px;
        }
    }
    &-lower{
        &-wrapper{
            padding: 1em 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}